<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-body">
            <h1> Rankings</h1>
            <table mat-table [dataSource]="dataSource" matSort class="table-responsive table" matSortActive="power" matSortDirection="desc">
              <ng-container matColumnDef="rank">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank </th>
                <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
              </ng-container>

              <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
                <td mat-cell *matCellDef="let element"> {{element.team}} </td>
              </ng-container>

              <ng-container matColumnDef="opr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> OPR </th>
                <td mat-cell *matCellDef="let element"> {{element.opr | number:'1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="auto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Auto </th>
                <td mat-cell *matCellDef="let element"> {{element.auto | number:'1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="cargo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cargo</th>
                <td mat-cell *matCellDef="let element"> {{element.cargo | number:'1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="cargo_count">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CPM </th>
                <td mat-cell *matCellDef="let element"> {{element.cargo_count | number:'1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="climb">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Climb </th>
                <td mat-cell *matCellDef="let element"> {{element.climb | number:'1.2-2'}} </td>
              </ng-container>
            
              <ng-container matColumnDef="fouls">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fouls </th>
                <td mat-cell *matCellDef="let element"> {{element.fouls | number:'1.2-2'}} </td>
              </ng-container>

              <ng-container matColumnDef="power">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Power </th>
                <td mat-cell *matCellDef="let element"> {{element.power | number:'1.2-2'}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  