<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h1>Enter an event to get started</h1>
          <form class="example-form">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Event</mat-label>
              <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                (optionSelected)="onSelectionChanged($event)">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>