<div *ngIf='elimMatches()' class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <div *ngIf='getResponsiveMode()==false'>
            <h1> Elimination Matches</h1>
            <table mat-table matSort #finalsSort="matSort" class="table-responsive table"
              [dataSource]="finalsDataSource" matSortActive="match_order" matSortDirection="asc">

              <ng-container matColumnDef="match_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Match </th>
                <td mat-cell *matCellDef="let element"> {{element.comp_level}} - {{element.set_number}}-
                  {{element.match_number}} </td>
              </ng-container>

              <ng-container matColumnDef="blue_score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue Score </th>
                <td mat-cell *matCellDef="let element"> {{element.blue_score}} </td>
              </ng-container>

              <ng-container matColumnDef="blue_rp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue RP </th>
                <td mat-cell *matCellDef="let element"> {{element.blue_rp}} </td>
              </ng-container>

              <ng-container matColumnDef="red_score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Red Score </th>
                <td mat-cell *matCellDef="let element"> {{element.red_score}} </td>
              </ng-container>

              <ng-container matColumnDef="red_rp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Red RP </th>
                <td mat-cell *matCellDef="let element"> {{element.red_rp}} </td>
              </ng-container>

              <ng-container matColumnDef="results">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Results </th>
                <td mat-cell *matCellDef="let element"> {{element.results}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div *ngIf='getResponsiveMode()'>
            <mat-expansion-panel *ngFor='let elimMatch of finalsData' class="table">
              <mat-expansion-panel-header>
                <mat-panel-title [ngStyle]="{'color': (getWinner(elimMatch) === 'Red') ? '#f44336' : '#2196f3'}">
                  {{elimMatch.comp_level}}{{elimMatch.match_number}}
                </mat-panel-title>
                <mat-panel-description [ngStyle]="{'color': (getWinner(elimMatch) === 'Red') ? '#f44336' : '#2196f3'}">
                  {{getWinner(elimMatch)}} - {{getWinnerPoints(elimMatch)}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-title class='text-blue'> Blue Alliance</mat-card-title>
                <div class='text-blue'>
                  Blue 1: {{elimMatch.blue0}}<br>
                  Blue 2: {{elimMatch.blue1}}<br>
                  Blue 3: {{elimMatch.blue2}}<br>
                  Blue Score: {{elimMatch.blue_score}}
                </div>
              </mat-card>
              <mat-card>
                <mat-card-title class='text-red'> Red Alliance</mat-card-title>
                <div class="text-red">
                  Red 1: {{elimMatch.red0}}<br>
                  Red 2: {{elimMatch.red1}}<br>
                  Red 3: {{elimMatch.red2}}<br>
                  Red Score: {{elimMatch.red_score}}
                </div>
              </mat-card>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-body">
          <h1> Qualification Matches</h1>
          <div *ngIf='getResponsiveMode()==false'>
            <table mat-table matSort #sort="matSort" class="table-responsive table" [dataSource]="dataSource"
              matSortActive="match_number" matSortDirection="asc">

              <ng-container matColumnDef="match_number">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Match </th>
                <td mat-cell *matCellDef="let element">
                  {{element.match_number}} </td>
              </ng-container>

              <ng-container matColumnDef="blue_score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue Score </th>
                <td mat-cell *matCellDef="let element"> {{element.blue_score}} </td>
              </ng-container>

              <ng-container matColumnDef="blue_rp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Blue RP </th>
                <td mat-cell *matCellDef="let element"> {{element.blue_rp}} </td>
              </ng-container>

              <ng-container matColumnDef="red_score">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Red Score </th>
                <td mat-cell *matCellDef="let element"> {{element.red_score}} </td>
              </ng-container>

              <ng-container matColumnDef="red_rp">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Red RP </th>
                <td mat-cell *matCellDef="let element"> {{element.red_rp}} </td>
              </ng-container>

              <ng-container matColumnDef="results">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Results </th>
                <td mat-cell *matCellDef="let element"> {{element.results}} </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div *ngIf='getResponsiveMode()'>
            <mat-expansion-panel *ngFor='let match of data'>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{match.comp_level}}{{match.match_number}}
                </mat-panel-title>
                <mat-panel-description [ngStyle]="{'color': (getWinner(match) === 'Red') ? '#f44336' : '#2196f3'}">
                  {{getWinner(match)}} - {{getWinnerPoints(match)}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-card>
                <mat-card-title class='text-blue'> Blue Alliance</mat-card-title>
                <div class='text-blue'>
                  Blue 1: {{match.blue0}}<br>
                  Blue 2: {{match.blue1}}<br>
                  Blue 3: {{match.blue2}}<br>
                  Blue RP: {{match.blue_rp}}<br>
                  Blue Score: {{match.blue_score}}
                </div>
              </mat-card>
              <mat-card>
                <mat-card-title class='text-red'> Red Alliance</mat-card-title>
                <div class='text-blue'>
                  Red 1: {{match.red0}}<br>
                  Red 2: {{match.red1}}<br>
                  Red 3: {{match.red2}}<br>
                  Red RP: {{match.red_rp}}<br>
                  Red Score: {{match.red_score}}
                </div>
              </mat-card>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>